<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <guest_wishlist>
            <general>
                <cookie_lifetime>525600</cookie_lifetime>
                <show_account_links_for_guest>1</show_account_links_for_guest>
                <empty_wishlists_retention_period>1</empty_wishlists_retention_period>
                <wishlists_cleanup_cron_expression>25 1 * * *</wishlists_cleanup_cron_expression>
            </general>
        </guest_wishlist>
    </default>
</config>
