<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Wishlist\Helper\Data">
        <plugin name="count_items_for_guest_wishlist" type="MageSuite\GuestWishlist\Plugin\Wishlist\Helper\Data\CountItemsForGuestWishlist" sortOrder="10"/>
    </type>

    <type name="Magento\Wishlist\Helper\Data">
        <plugin name="allow_guest_wishlist_in_cart" type="MageSuite\GuestWishlist\Plugin\Wishlist\Helper\Data\AllowGuestWishlistInCart" sortOrder="20"/>
    </type>

    <type name="Magento\Wishlist\Model\Wishlist">
        <plugin name="mark_guest_as_wishlist_owner" type="MageSuite\GuestWishlist\Plugin\Wishlist\Model\Wishlist\MarkGuestAsWishlistOwner" sortOrder="10"/>
    </type>

    <type name="Magento\Wishlist\Controller\Index\Index">
        <plugin sortOrder="10" name="add_layout_handler_for_guest_wishlist" type="MageSuite\GuestWishlist\Plugin\Wishlist\Controller\Index\Index\AddLayoutHandlerForGuestWishlist"/>
    </type>

    <type name="Magento\Wishlist\Model\Item">
        <plugin name="skip_save_if_item_exists"
                type="MageSuite\GuestWishlist\Plugin\Wishlist\Model\Item\SkipSaveIfItemExists"
                sortOrder="10"/>
    </type>
</config>
